@model IEnumerable<W_Machine.Models.Coin>
    @{
    ViewBag.Title = "Admin: Все монеты";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    <div class="menu">
        <h2>Монеты</h2>
        <table border="1" class="admin-tab">
            <thead>
                <tr>
                    <th>Номинал</th>
                    <th class="NumericCol">Количество</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@Html.ActionLink(item.SNameCoin, "EditCoin", new { item.CoinID })</td>
                        <td class="NumericCol">@item.iCountCoin.ToString()</td>
                    </tr>

                </tbody>
            }
        </table>
        <div class="new">
            <button onclick="location.href='@Url.Action("Index")';return false;">Вернутся на страницу управления</button>
        </div>
    </div>



   

